<div class="container">
  
  <div class="card">
    <div class="card-body">
      <h1 align="center">Weather Battle!</h1>
      <h4 align="center">Search two cities and see which city has better weather</h4>
    </div>
</div>

<br>

    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <h3 class="text-center my-2">Search for Weather in:</h3>
           <form
             [formGroup]="weatherSearchForm"
               (ngSubmit)="sendToAPIXU(weatherSearchForm.value)"
                 >
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="City"
            formControlName="location"
          />
        </div>


        <div class="text-center">
          <button type="submit" class="mat-raised-button color="primary>
            Search a City
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-4">
      <h3 class="text-left my-2">Weather Details:</h3>
      <p class="text-left">
        Location Searched: {{ this.weatherData?.location.name }}
      </p>
      <p class="text-left">
        Current weather conditions:
        {{ this.weatherData?.current.condition.text }}
      </p>
      <p class="text-left">
        Temperature: {{ this.weatherData?.current.temp_f }} F
      </p>
      <p class="text-left">
        Wind Speed is:
        {{ this.weatherData?.current.wind_mph }} Mph
      </p>
    </div>

 
    <div class="col-md-2">
      <h3 class="text-center my-2">Search for Weather in:</h3>
      <form
        [formGroup]="weatherSearchForm"
        (ngSubmit)="sendToAPIXU(weatherSearchForm.value)"
      >
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="Location"
            aria-describedby="weatherLocation"
            placeholder="City"
            formControlName="location"
          />
        </div>
        <div class="text-center">
          <button type="submit" class="class="mat-raised-button color="primary">
            Search a City
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-4">
      <h3 class="text-left my-2">Weather Details:</h3>
      <p class="text-left">
        Location Searched: {{ this.weatherData?.location.name }}
      </p>
      <p class="text-left">
        Current weather conditions:
        {{ this.weatherData?.current.condition.text }}
      </p>
      <p class="text-left">
        Temperature: {{ this.weatherData?.current.temp_f }} F
      </p>
      <p class="text-left">
        Wind Speed is:
        {{ this.weatherData?.current.wind_mph }} Mph
      </p>
    </div>
  </div>
</div>
</div>
 <br>

    <div class="card">
     <div class="card-body">
      <div class="col-md-8">
        <h2>And the Winning City is...</h2>
          <h3 class="text-left my-2">Weather Details:</h3>
          <p class="text-left">
            Location Searched: {{ this.weatherData?.location.name }}
          </p>
          <p class="text-left">
            Current weather conditions:
            {{ this.weatherData?.current.condition.text }}
          </p>
          <p class="text-left">
            Temperature: {{ this.weatherData?.current.temp_f }} F
          </p>
          <p class="text-left">
            Wind Speed is:
            {{ this.weatherData?.current.wind_mph }} Mph
          </p>
        </div>
      </div>
    </div>
</div>
